:root {
  --basic-bacground: #ffffff;
  --special-background: #f1f5f7;
  --background-dark: #f7f3ec;
  --background-grey: #f9f5f0;
  --background-greylight: #f4f4f4;
  --basic-grey: #293449;
  --basic-dark: #32425c;
  --bacground-dark-white: #f1f1f1;
  --basic-red: #ee3643;
  --basic-red-rgba: rgba(238, 54, 67, 1);
  --succes: #63a63e;
  --succes2: #5fbb2d;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;
  --basic-darkgrey: #212a3a;
  --error: #ba2732;
  --styleguid-words: #61d322;
  --styleguid-icon: #161d29;
  --styleguid-icon2: #1d2739;
  --styleguid-icon3: #a9a9a9;
  --styleguid-login: #c5c5c5;
  --styleguid-login2: #3d546f;
  --styleguid-catalog: #ca2c37;
  --styleguid-catalog2: #ba2732;
  --styleguid-catalog3: #518534;
  --stroke: #eaeaea;
  --services-button: #cfc970;
  --basic-black: #000000;
  --basic-black-rgba: rgba(0, 0, 0, 0.5);
  --special-border: #e5e5e5;
  --logo-shadow: rgb(158, 9, 9);
  --navigation-text-button: rgba(255, 255, 255, 0.5);
  --features-standby: rgba(255, 255, 255, 0.3);
  --features-hover: rgba(197,197,197,0.3);
  --features-focus: rgba(169,169,169,0.3);
  --main-navigation-focus: #1d2739;
  --link-focus: rgba(255,255,255,0.3);
  --next-back-button: rgba(255,255,255,0);
  --products-shadow: rgba(0, 0, 0, 0.2);
  --products-shadow-focus: rgba(0, 0, 0, 0.1);
  --toggle: #ababab;
  --toggle-shadow: #cfcfcf;
  --scale: #d7dcde;
  --footer-text: #f3f7f9;
  --button-shadow: #367315;
}

@font-face {
font-family: "PT Sans";
src: url("../fonts/ptsans.woff2") format("woff2"),
url("../fonts/ptsans.woff") format("woff");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "PT Sans";
src: url("../fonts/ptsansbold.woff2") format("woff2"),
url("../fonts/ptsansbold.woff") format("woff");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprum.woff2") format("woff2"),
url("../fonts/cuprum.woff") format("woff");
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprumbold.woff2") format("woff2"),
url("../fonts/cuprumbold.woff") format("woff");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprumitalic.woff2") format("woff2"),
url("../fonts/cuprumitalic.woff") format("woff");
font-weight: 400;
font-style: italic;
}

@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
url("../fonts/cuprumbolditalic.woff") format("woff");
font-weight: 700;
font-style: italic;
}

.page {
  height: 100%;
  background-color: var(--basic-bacground);
}

.page-body {
  min-width: 940px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans","Cuprum", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

/* Header */

.main-header {
  background-color: var(--special-background);
  margin-bottom: 59px;
}

.main-header-logo {
  background-image: url(../img/logo-background.png);
  box-shadow: 0px 5px 0px var(--logo-shadow);
  text-align: center;
  width: 220px;
  padding-top: 11px;
}

.main-header-logo:focus {
  background-image: url(../img/logo-background-click.png);
}

.input-label {
  position: relative;
  width: 271px;
}

.input-label::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 3px;
  width: 17px;
  height: 17px;
  background-image: url(../img/simbols/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search-input {
  width: 226px;
  height: 42px;
  padding-left: 45px;
  background-color: var(--basic-grey);
  border: none;
}

.slider-description,
.footer-contacts,
.footer-contacts-phone,
.main-navigation-link,
.top-navigation-cart,
.top-navigation-bookmarks,
.top-navigation-button,
.search-input::placeholder {
  color: var(--basic-bacground);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.search-input:focus::placeholder {
  color: transparent;
}

.search-input:focus {
  background-color: var(--basic-bacground);
  outline: none;
  font-size: 18px;
  line-height: 24px;
}

.top-navigation-cart {
  display: block;
  text-align: center;
  position: relative;
  width: 125px;
  padding-left: 25px;
}

.top-navigation-cart::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../img/simbols/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-navigation-bookmarks {
  display: block;
  text-align: center;
  position: relative;
  width: 115px;
  padding-left: 35px;
}

.top-navigation-bookmarks::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 13px;
  width: 15px;
  height: 16px;
  background-image: url(../img/simbols/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.top-navigation-bookmarks,
.top-navigation-cart {
  color: var(--basic-bacground);
  text-decoration: none;
  padding-top: 9px;
}

.top-navigation-cart:focus,
.top-navigation-bookmarks:focus {
  background-color: var(--styleguid-icon);
}

.top-navigation-cart:hover::before,
.top-navigation-bookmarks:hover::before {
  opacity: 1;
}

.top-navigation-cart:focus::before,
.top-navigation-bookmarks:focus::before {
  opacity: 0.3;
}

.top-navigation-button {
  width: 150px;
  background-color: var(--succes);
  color: var(--basic-bacground);
  border: none;
}

.top-navigation-button:hover {
  background-color: var(--succes2);
}

.top-navigation-button:focus {
  background-color: var(--succes);
  color: var(--navigation-text-button);
  outline: none;
}

.top-navigation-bookmarks:focus,
.top-navigation-cart:focus,
.main-navigation-link:focus {
  color: var(--link-focus);
}

.main-navigation {
  display: flex;
  height: 60px;
  background-color: var(--basic-dark);
  box-shadow: inset 0 -5px 0 var(--basic-grey);
}

.main-navigation-link {
  display: block;
  height: 45px;
  width: 100%;
  color: var(--basic-bacground);
  text-decoration: none;
  text-align: center;
  padding-top: 15px;
}

.main-navigation-link:hover {
  background-color: var(--basic-grey);
}

.main-navigation-link:focus {
  background-color: var(--main-navigation-focus);
}

.main-navigation-list-item {
  width: 100%;
  height: 60px;
}

.authorization-link-logo,
.authorization-button-login,
.authorization-button-registration {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
}

.authorization-button-login {
  position: relative;
  width: 121px;
  padding-left: 45px;
}

.authorization-button-login::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 14px;
  width: 21px;
  height: 17px;
  background-image: url(../img/simbols/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorization-button-login:hover::before {
  background-image: url(../img/simbols/icon-login-hover.svg);
}

.authorization-button-registration {
  width: 150px;
}

.authorization-button-login,
.authorization-button-registration {
  background-color: var(--basic-bacground);
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  border: none;
}

.authorization-button-login:hover,
.authorization-button-registration:hover {
  color: var(--basic-red);
}

.authorization-button-login:focus,
.authorization-button-registration:focus {
  color: var(--styleguid-login);
  outline: none;
}

/* Flex */

.flex-conteiner {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header-bar-top {
  display: flex;
  justify-content: space-between;
}

.main-header-wrapper {
  margin-bottom: 46px;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  width: 450px;
}

.main-header-bar-bottom {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  padding-bottom: 60px;
}

.main-header-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.about-us {
  padding: 0;
  margin: 0;
  margin-left: 30px;
}

.title-text {
  color: var(--basic-red);
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

.main-contacts-div {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}

.main-contacts {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 275px;
  padding: 0;
  color: var(--basic-dark);
}

.main-contacts-phone {
  color: var(--basic-red);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  margin-left: 74px;
}

.tel {
  position: relative;
  max-width: 100%;
  height: 38px;
  padding-top: 7px;
  outline: 3px solid var(--basic-bacground);
  outline-offset: -5px;
}

.tel::before {
  content: "";
  position: absolute;
  left: 39px;
  top: 13px;
  width: 19px;
  height: 19px;
  background-image: url(../img/simbols/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorization-button-registration {
  margin-left: 10px;
}

.main-navigation-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-hammers-title,
.services-title,
.company-title,
.contacts-title {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.popular-products-title {
  float: left;
  margin-left: 28px;
  margin-top: 29px;
}

.button-allproducts {
  float: right;
  margin-right: 14px;
  margin-top: 25px;
}

.popular-products-list,
.popular-manufacturers-list,
.basic-products-list {
  display: flex;
  flex-wrap: wrap;
}

.popular-products-list-item,
.popular-manufacturers-list-item,
.basic-products-list-item {
  margin-top: 20px;
  margin-right: 17px;
}

.popular-products-list-item:last-child,
.popular-manufacturers-list-item:nth-child(4n),
.basic-products-list-item:nth-child(3n) {
  margin-right: 0;
}

.flex-conteiner-margin {
  margin-bottom: 70px;
}

.manufacturers-title {
  float: left;
  margin-left: 28px;
  margin-top: 29px;
}

.button-allmanufacturers {
  float: right;
  margin-right: 19px;
  margin-top: 25px;
}

.main-bottom {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-company {
  display: flex;
  flex-direction: column;
}

.contacts-description {
  margin-bottom: 70px;
}

.map-button {
  margin-top: 25px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 30px;
  width: 940px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 590px;
  justify-content: flex-end;
}

.footer-navigation-list-item .footer-navigation-link {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-background);
}

.footer-navigation-list-item,
.footer-navigation-list-item2 {
  margin-right: 50px;
  margin-top: 37px;
}

.footer-navigation-list-item:nth-child(5),
.footer-navigation-list-item2:last-child {
  margin-right: 0;
}

.footer-wrapper {
  height: 107px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 107px;
}

.technomart {
  margin: 0;
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-feedback,
.footer-copyright {
  display: inline-block;
}

.footer-copyright {
  margin-left: 51px;
  margin-right: 13px;
}

/* Flex. Catalog */

.main-header-catalog {
  margin-bottom: 0;
}

.top-navigation-cart-catalog {
  background-color: var(--basic-red);
  text-align: center;
}

.breadcrumps-block {
  display: flex;
  width: 100%;
}

.main-catalog {
  display: flex;
}

.main-catalog-page {
  flex-wrap: nowrap;
  margin-bottom: 59px;
 }

.catalog-hammers {
  display: flex;
  width: inherit;
  height: 89px;
  background-color: var(--special-background);
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 720px;
  margin-right: 20px
}

.filter-price {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.filter-title {
  height: 28px;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 18px;
  background-color: var(--background-dark);
}

.filter-select {
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.input-block {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-dark);
}

.scale {
  height: 2px;
  background-color: var(--scale);
}

.bar {
  width: 152px;
  height: 2px;
  background: var(--styleguid-words);
}

.toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-bacground);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.toggle-min {
  left: 20px;
}

.toggle-max {
  left: 152px;
}

.input-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 38px;
}

.min-price-input,
.max-price-input {
  width: 95px;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--basic-black);
  border: none;
  background: var(--background-dark);
  font-size: 17px;
  line-height: 18px;
}

.dash {
  padding-top: 6px;
}

.fieldset-checkbox {
  height: 272px;
  margin-top: 25px;
  border-top: 1px solid var(--stroke);
}

.filter-manufacturers {
  height: 272px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  border: none;
}

.filter-select-2 {
  margin-top: 0;
  padding-bottom: 0;
}

.filter-select-3 {
  padding-top: 16px;
}

.my-checkbox,
.my-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.my-radio+label,
.my-checkbox+label {
  display: flex;
  align-items: center;
}

.my-checkbox+label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 23px;
  background-image: url(../img/simbols/checkbox-off.svg);
  margin-right: 12px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.my-checkbox:checked+label::before {
  background-image: url("../img/simbols/checkbox-on.svg");
  padding-left: 5px;
  margin-right: 7px;
}

.my-checkbox+label:hover::before {
  background-image: url(../img/simbols/checkbox-off-hover.svg);
}

.my-checkbox:checked+label:hover::before {
  background-image: url(../img/simbols/checkbox-on-hover.svg);
}

.my-radio+label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/simbols/radio-off.svg);
  margin-right: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.my-radio:checked+label::before {
  background-image: url("../img/simbols/radio-on.svg");
  margin-right: 10px;
}

.my-radio+label:hover::before {
  background-image: url(../img/simbols/radio-off-hover.svg);
}

.my-radio:checked+label:hover::before {
  background-image: url(../img/simbols/radio-on-hover.svg);
}

.filter-manufacturers-list {
  border: none;
  border-bottom: 1px solid var(--stroke);
}

.filter-manufacturers-list-item {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.filter-power {
  height: max-content;
  padding: 0;
}

.filter-power-list-item {
  margin-top: 10px;
  margin-bottom: 20px;
}

.filter-button {
  width: 220px;
  height: 38px;
  background-color: var(--basic-bacground);
  border: 1px solid var(--special-border);
  outline: none;
}

.filter-button:hover {
  border: 1px solid var(--basic-red);
}

.catalog-section {
  display: flex;
  flex-direction: column;
}

.sorting-list {
  display: flex;
  height: 38px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--background-dark);
}

.sorting-title {
  margin-left: 19px;
  margin-right: 140px;
  padding: 0;
}

.sorting-item {
  margin-top: 5px;
}

.sorting-item:nth-child(2) {
  margin-right: 70px;
}

.sorting-item:nth-child(3) {
  margin-right: 65px;
}

.sorting-item:nth-child(4) {
  margin-right: 46px;
}

.sorting-item:nth-child(5) {
  margin-right: 21px;
}

.sorting-link {
  color: var(--basic-black-rgba);
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-link:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-link:focus {
  color: var(--basic-red);
  border-bottom: none;
}

.icon-down:hover,
.icon-up:hover {
  fill: var(--basic-black);
}

.icon-down:focus,
.icon-up:focus {
  fill: var(--basic-red);
}

.button-page-block {
  margin-top: 48px;
}

.basic-products-pages-list {
  display: flex;
}

.basic-products-pages-list-item {
  margin-right: 10px;
}

/* Grid */

.conteiner {
  width: 940px;
  display: grid;
  margin: 0 auto;
  padding: 0 10px;
}

.features {
  margin-bottom: 59px;
}

.offers {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:  repeat(3,1fr);
  gap: 20px;
  width: 940px;
  height: 409px;
  margin: 0 auto;
  padding: 0 10px;
}

.offers-title {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-left: 23px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.offers-item1 {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: var(--special-yellow);
}

.offers-item2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: var(--special-blue);
}

.offers-item3 {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: var(--special-lilac);
}

.offers-item4 {
  grid-column: 3/4;
  grid-row: 2/3;
  background-color: var(--special-greenlight);
}

.offers-item5 {
  grid-column: 3/4;
  grid-row: 3/4;
  background-color: var(--special-yellow);
}

.services {
  background-color: var(--special-background);
  display: grid;
  padding-top: 64px;
  margin-bottom: 70px;
}

.delivery-block {
  width: 618px;
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: right;
}

.services-title-delivery {
  margin: 0;
}

.services-block-2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 80px;
  margin-top: 70px;
  margin-bottom: 99px;
}

.services-table-item {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
}

/* Slider */

.site-wrapper {
  grid-column: 1/3;
  grid-row: 2/4;
  width: 620px;
  height: 266px;
}

.site-wrapper-1 {
  background-color: var(--special-background);
  background-image: url(../img/slider-2.jpg);
}

.site-wrapper-2 {
  background-color: var(--special-background);
  background-image: url(../img/slider.jpg);
}

.slider-div {
  width: 620px;
  height: 266px;
  color: var(--special-background);
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  position: relative;
  width: 596px;
  height: 180px;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-left: 24px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
  width: 596px;
  height: 180px;
}

.slide-title {
  font-family: "Cuprum";
  font-style: normal;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
}

.slide-paragraph {
  color: var(--basic-bacground);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-top: 5px;
}

.slide-button-back {
  background-color: var(--next-back-button);
  position: absolute;
  top: 120px;
  left: 24px;
  outline: none;
  border: none;
}

.slide-button-next {
  background-color: var(--next-back-button);
  position: absolute;
  top: 115px;
  right: 20px;
  outline: none;
  border: none;
  transform: rotate(180deg);
}

.button-slider {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-bacground);
  border: 2px solid var(--basic-bacground);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  left: 295px;
  bottom: 36px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.current {
  background-color: var(--basic-red);
}

.button-catalog {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

/* Grid. Catalog */

.catalog-hammers-title {
  margin-left: 29px;
  margin-top: 29px;
}

.about-hammers-title {
  margin-top: 64px;
}

.filter-power {
  border: none;
}

.about-hammers-wrapper {
  display: grid;
  background-color: var(--special-background);
}

/* Catalog. Header */

.inner-authorization {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 299px;
}

.authorization-link-logo {
  position: relative;
  text-decoration: none;
  text-align: center;
  color: var(--basic-black);
  padding-top: 12px;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-bacground);
  width: 299px;
  height: 33px
}

.authorization-link-logo::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 15px;
  width: 20px;
  height: 18px;
  background-image: url(../img/simbols/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.authorization-link-logo::after {
  content: "";
  position: absolute;
  right: 14px;
  top: 16px;
  width: 20px;
  height: 17px;
  background-image: url(../img/simbols/icon-logout.svg);
  background-position: 0 0;
}

.authorization-link-logo:hover::before {
  background-image: url(../img/simbols/icon-user-hover.svg);
}

.authorization-link-logo:hover::after {
  background-image: url(../img/simbols/icon-logout-hover.svg);
}

.authorization-link-logo:focus::before {
  background-image: url(../img/simbols/icon-user.svg);
}

.authorization-link-logo:focus::after {
  background-image: url(../img/simbols/icon-logout.svg);
}

.authorization-link-logo:hover {
  color: var(--basic-black);
}

.authorization-link-logo:focus {
  color: var(--styleguid-login);
}

.personal-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  height: 18px;
  position: relative;
}

.personal-list::before {
  content: "";
  position: absolute;
  left: 104px;
  top: 7px;
  width: 6px;
  height: 7px;
  background-image: url(../img/simbols/user-point.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.personal-list-item {
  display: inline;
  font-size: 16px;
  line-height: 18px;
}

.personal-link {
  text-decoration: none;
  color: var(--basic-black);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.personal-link:hover {
  color: var(--basic-red);
}

.personal-link:focus {
  color: var(--styleguid-login);
}

/* Breadcrumps */

.breadcrumps-block {
  position: relative;
  margin-top: 21px;
  margin-bottom: 20px;
}

.breadcrumps-block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 14px;
  height: 12px;
  background-image: url(../img/simbols/icon-home.svg);
  background-position: 0 0;
}

.breadcrumps-list {
  display: flex;
  width: 100%;
}

.breadcrumps-list-item {
  position: relative;
  padding-left: 25px;
  margin-left: 25px;
}

.breadcrumps-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 14px;
  background-image: url(../img/simbols/icon-right-small.svg);
  background-position: 0 0;
}

.breadcrumps-link,
.filter-title,
.sorting-title,
.sorting-link,
.filter-button,
.button-page-select,
.button-page-next {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumps-link,
.filter-title {
  color: var(--basic-black);
  text-decoration: none;
}

/* Catalog. Main */

.catalog-hammers-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-dark);
}

.filter-manufacturers-list-item,
.filter-power-list-item {
  font-size: 15px;
  line-height: 19px;
}

.firms,
.power {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.button-page-select {
  width: 38px;
  height: 38px;
  background-color: var(--basic-bacground);
  border: 1px solid var(--special-border);
  border-radius: 2px;
}

.button-page-select-active {
  background-color: var(--basic-red);
}

.button-page-next {
  width: 140px;
  height: 38px;
  background-color: var(--basic-bacground);
  border: 1px solid var(--special-border);
  border-radius: 2px;
}

.price-delete-2 {
  visibility: hidden;
}

.button-page-select:hover,
.button-page-next:hover {
  border: 1px solid var(--styleguid-login);
}

.button-page-select:focus,
.button-page-next:focus {
  border: 1px solid var(--basic-red);
  outline: none;
}

.about-hammers .about-hammers-title {
  font-size: 30px;
  line-height: 30px;
}

.about-hammers {
  height: 261px;
  font-size: 13px;
  line-height: 24px;
}

/* Main */

.offers-list-item {
  color: var(--basic-bacground);
  font-size: 24px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
}

.features-image {
  position: absolute;
  left: 213px;
  bottom: 27px;
}

.features-image-2 {
  position: absolute;
  left: 194px;
  bottom: 28px;
}

.features-image-3 {
  position: absolute;
  left: 191px;
  bottom: 30px;
}

.features-image-4 {
  position: absolute;
  left: 196px;
  bottom: 25px;
}

.features-image-5 {
  position: absolute;
  left: 191px;
  bottom: 28px;
}

.span {
  width: 110px;
  height: 25px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  left: 225px;
  top: 10px;
  color: var(--basic-bacground);
  text-align: center;
  padding-top: 7px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.image {
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
}

.img {
  margin-top: 30px;
}

.img-2 {
  margin-top: 20px;
}

.span-2 {
  left: 145px;
}

.popular-products-list-item,
.basic-products-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 318px;
  border: 1px solid var(--stroke);
}

.popular-hammers-title,
.basic-hammers-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 8px;
}

.popular-manufacturers-list-item {
  width: 220px;
  height: 145px;
  object-fit: contain;
  border: 1px solid var(--stroke);
}

.manufacturers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
}

.manufacturers-link:hover {
  box-shadow: 0 0 10px 2px var(--products-shadow);
}

.manufacturers-link:focus {
  box-shadow: 0 0 10px 2px var(--products-shadow-focus);
}

.hammers-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.offers-main-title,
.footer-social-title,
.modal-map-title,
.main-header-title,
.modal-feedback-title,
.products-catalog-title {
  display: none;
}

.materials-button,
.tools-button,
.equipment-button,
.sale-button,
.delivery-button {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-bacground);
  width: 135px;
  height: 38px;
  background-color: var(--features-standby);
  border: none;
  margin-left: 23px;
}

.materials-button:hover,
.tools-button:hover,
.equipment-button:hover,
.sale-button:hover,
.delivery-button:hover {
  background-color: var(--features-hover);
}

.materials-button:focus,
.tools-button:focus,
.equipment-button:focus,
.sale-button:focus,
.delivery-button:focus {
  background-color: var(--features-focus);
  outline: none;
}

.catalog-hammers-title,
.popular-products-title,
.manufacturers-title,
.services-title-delivery {
  color: var(--basic-dark);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}

.price {
  display: block;
  width: 141px;
  height: 29px;
  color: var(--basic-bacground);
  padding-top: 9px;
  margin-bottom: 21px;
  text-decoration: none;
  background-image: url(../img/simbols/red-button.svg);
  background-repeat: no-repeat;
}

.price-delete {
  color: var(--styleguid-icon3);
  margin-bottom: 14px;
}

.price,
.price-delete {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.popular-products-list-item:hover,
.basic-products-list-item:hover {
  box-shadow: 0 0 10px 2px var(--products-shadow);
}

.manufacturers,
.popular-products {
  background-color: var(--background-grey);
  width: 940px;
  height: 89px;
}

.popular-manufacturers-list,
.popular-products-list,
.basic-products-list {
  text-align: center;
}

.about-hammers-paragraph,
.services-description,
.delivery-description,
.about-company-description,
.delivery-description,
.contacts-description {
  font-family: "PT sans";
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
}

.services-table {
  border-collapse: collapse;
  width: 237px;
  height: 185px;
}

.services-table-item {
  background-color: var(--basic-dark);
  color: var(--basic-bacground);
  font-size: 21px;
  line-height: 30px;
  padding: 20px;
  padding-right: 152px;
}

.services-table-item:hover {
  background-color: var(--basic-grey);
}

.breadcrumps-list,
.personal-list,
.breadcrumps,
.filter-manufacturers-list,
.filter-power-list,
.basic-products-list,
.basic-products-pages-list,
.main-navigation-list,
.services-list,
.popular-products-list,
.popular-manufacturers-list,
.delivery-list,
.footer-navigation ul,
.footer-social ul,
.footer-feedback-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.manufacturers {
  color: var(--basic-dark);
}

.delivery-list-item {
  position: relative;
  margin-bottom: 12px;
  padding-left: 37px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.delivery-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background-image: url(../img/simbols/line-li.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.aboutcompany-button {
  width: 220px;
  height: 38px;
}

.button {
  width: 192px;
  height: 38px;
  outline: none;
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-bacground);
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--styleguid-catalog);
}

.button:focus {
  background-color: var(--error);
}

.map-button {
  width: 300px;
  height: 38px;
}

.main-blank-title {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  margin: auto;
  text-align: center;
}

/* Footer */

.footer-wrapper,
.main-header-wrapper {
  background-color: var(--basic-grey);
}

.main-footer {
  background-color: var(--basic-dark);
}

.footer-contacts,
.footer-contacts-phone {
  color: var(--footer-text);
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation .footer-navigation-link,
.footer-contacts,
.footer-contacts .footer-contacts-phone {
  color: var(--basic-bacground);
  text-decoration: none;
}

.footer-navigation-list-item2 .footer-navigation-link {
  color: var(--special-yellowlight);
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-list-item .footer-navigation-link:hover,
.footer-navigation-list-item2 .footer-navigation-link:hover {
  text-decoration: underline;
}

.footer-navigation-list-item .footer-navigation-link:focus {
  color: var(--special-background);
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation-list-item2 .footer-navigation-link:focus {
  color: var(--special-yellowlight);
  opacity: 0.5;
  text-decoration: none;
}

.footer-feedback,
.footer-copyright,
.technomart {
  color: var(--basic-bacground);
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback .footer-feedback-link,
.footer-copyright .footer-copyright-link {
  color: var(--special-yellowlight);
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback .footer-feedback-link:hover,
.footer-copyright .footer-copyright-link:hover {
  text-decoration: underline;
}
.footer-feedback .footer-feedback-link:focus,
.footer-copyright .footer-copyright-link:focus {
  color: var(--basic-red);
}

.vkontakte:hover,
.vkontakte:focus,
.facebook:hover,
.facebook:focus,
.instagram:hover,
.instagram:focus {
  fill: var(--basic-red)
}

                                                /* Доделал модальные окна на главной странице и на странице каталога, подправил шрифты в некоторых местах,
                                                   display: none для модальных окон закоментирован для наглядности, сделал слайдер и ползунок в фильтре
                                                   на главной странице, я так понял оживляться они будут через JS.
                                                   Правильно ли я минимизировал style.css? Файл style-mini.css. Подключал его к страницам, вроде ничего не ломается.
                                                   И как быть со вторым домашним заданием по внутренней странице, если в этом пулреквесте и то, и то? Повторно кидать пулреквест? */

/* Modal-windows */

.demonstration {
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Feedback */

.modal-feedback {
  position: relative;
  width: 620px;
  height: 430px;
  margin-bottom: 100px;
  background-color: var(--basic-bacground);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 20px 60px -2px var(--basic-black);
  /* display: none; */
}

.user-information {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 80px;
  margin-right: 80px;
}

.feedback-form {
  display: inline-block;
  width: 220px;
}

.feild-title {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.input {
  width: 210px;
  height: 38px;
  border: 2px solid var(--styleguid-login);
}

.input::placeholder {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding-left: 12px;
  color: var(--styleguid-icon3);
}

.feild-title-2 {
  margin-left: 80px;
}

.feild-message {
  width: 441px;
  height: 114px;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--styleguid-icon3);
  margin-left: 80px;
  margin-bottom: 37px;
  padding-left: 12px;
  border: 2px solid var(--styleguid-login);
  border-radius: 4px;
}

.modal-button-send {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--background-greylight);
}

.send-button {
  width: 460px;
}

.button-close {
  position: absolute;
  top: 14px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: var(--basic-bacground);
  background-image: url(../img/simbols/icon-close.svg);
  border: none;
  cursor: pointer;
}

/* Map */

.modal-map {
  position: relative;
  width: 943px;
  height: 449px;
  background-image: url(../img/map2.png);
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 20px 60px -2px var(--basic-black);
  /* display: none; */
}

.button-close-map {
  background-color: transparent;
  top: 10px;
  right: 10px;
}

/* Catalog modal windows */

/* Adding to cart */

.modal-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 620px;
  height: 283px;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0 20px 60px -2px var(--basic-black);
  /* display: none; */
}

.cart-title-div {
  position: relative;
}

.cart-title-div::before {
  content: "";
  position: absolute;
  left: 81px;
  top: 55px;
  width: 66px;
  height: 66px;
  background-image: url(../img/simbols/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart-title-3 {
  width: max-content;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-top: 73px;
  margin-left: 180px;
}

.button-add {
  margin-right: 10px;
}

.button-resume {
  width: 192px;
  height: 38px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: var(--basic-bacground);
}

.button-resume:hover {
  border: 1px solid var(--basic-red);
}

.button-resume:focus {
  outline: none;
  opacity: 0.3;
}

.button-close-cart {
  top: 11px;
  right: 11px;
  background-color: var(--basic-bacground);
  outline: none;
}

/* Product cart */

.product-cart-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 220px;
  height: 318px;
  margin-top: 100px;
  background-color: transparent;
  border: 1px solid var(--stroke);
  box-shadow: 0 0 10px 2px var(--products-shadow);
  /* display: none; */
}

.button-mod {
  width: 135px;
  height: 38px;
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.modal-button-buy {
  position: relative;
  margin-top: 38px;
  margin-bottom: 10px;
  color: var(--basic-bacground);
  background-color: var(--succes);
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--button-shadow);
}

.modal-button-buy::before {
  content: "";
  position: absolute;
  left: 23px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-image: url(../img/simbols/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.modal-button-buy:hover {
  color: var(--basic-bacground);
  background-color: var(--succes2);
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--button-shadow);
}

.modal-button-buy:focus {
  color: var(--basic-bacground);
  background-color: var(--styleguid-catalog3);
  border: none;
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--button-shadow);
  outline: none;
}

.modal-button-bookmark {
  color: var(--basic-dark);
  background-color: var(--basic-bacground);
  border: 3px solid var(--succes);
  border-radius: 2px;
}

.modal-button-bookmark:hover {
  color: var(--basic-dark);
  background-color: var(--basic-bacground);
  border: 3px solid var(--basic-dark);
  border-radius: 2px;
}

.modal-button-bookmark:focus {
  color: var(--basic-dark);
  background-color: var(--basic-bacground);
  border: 3px solid var(--basic-dark);
  border-radius: 2px;
  opacity: 0.3;
  outline: none;
}
